/* hide all cursors */

*{
    font-family: Helvetica;
}

body{
    background-color: rgb(255, 255, 255);
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */

}

canvas {
    display: block;
}

#page_title_container{
    position: fixed;
    left: 32.5%;
    top: 4%;
    width: 35%;
    background-color: rgba(255, 255, 255, 0);
}

#page_title{
    text-align: center;
    font-size: 100px;
    font-family: "Helvetica";
    margin-top: 10px;
    margin-bottom: 10px;
}

#title_desc{
    text-align: center;
    font-style: italic;
}
#section_parent{
    height: 100vh;
    width: 25%;
    position: relative;
    padding-left: 3.6%;
}
#section{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table;
    padding-left: 4%;
}

.section_title{
    font-family: 'Helvetica';
    font-size: 3.8vh;
    margin-top: 2px;
    margin-bottom: 4px;
}

.section_title_container{
    padding: 4px;
    border-bottom: solid;
    border-color: black;
    border-bottom-width: thick;
    margin-bottom: 10%;
    margin-top: 20%;
}

.section_container{
    background-color: rgba(255, 255, 255, 0);
}

.project_container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 4px;
}

.proj_link{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 black;
    color:black;
    padding: 2%;
    font-size: 1.7vh;
    border: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.proj_link:hover {
    color: white;
    box-shadow: inset 220px 0 0 0 black;
}